<!DOCTYPE html>

<html lang="ru">
    <head>
        <meta charset="utf-8" />
        <link href="https://fonts.googleapis.com/css?family=Philosopher&display=swap" rel="stylesheet">
        <script src="~/js/graph.js"></script>
        <script src="~/js/button-top-auth.js"></script>
        <script src="~/js/OnloadAuthorisation.js"></script>
        <title>Authorization</title>
        <link href="~/css/buttons-style-auth.css" rel="stylesheet" />

        <link href="~/css/Authorisation.css" rel="stylesheet" />
    </head>

    <body>
        <div class="container body-content">
            @RenderBody()

        </div>
    </body>
</html>