<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css?family=Philosopher&amp;display=swap" rel="stylesheet">
    <link href="~/css/buttons-style.css" rel="stylesheet" />
    <link href="~/css/left_buttons.css" rel="stylesheet" />
    <link href="~/css/modal_windows.css" rel="stylesheet" />
    <link href="~/css/top-angle-buton-stylesheet.css" rel="stylesheet" />
    <link href="~/css/profile_style.css" rel="stylesheet" />
    <link href="~/css/style_main.css" rel="stylesheet" />


    <title>@ViewData["Title"] - WebApplication3</title>




</head>
<body>
    

    

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2019 - WebApplication3</p>
        </footer>
    </div>

    
    

    @RenderSection("Scripts", required: false)
</body>
</html>
