.dark-change-border {
}

.dark-change-font {
}

.dark-change-text {
}

.text-in-menu {
    font-family: 'Philosopher', sans-serif;
    font-size: 30px;
    color: black;
}

.link-in-menu {
    text-decoration: none;
    color: #0059b4;
}

dialog.mini-window-in-angle {
    border-radius: 10%;
    border: solid 3px;
    border-color: #0059b4;
}

#close {
    position: relative;
    top: 110%;
    left: 60%;
}

.dark-theme {
    background-color: rgba(0, 0, 0, 0.5);
    border: solid 2px black;
    border-radius: 10%;
    border-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: row;
}

.dark-text {
    position: relative;
    padding: 8px;
}

.menu-btn {
    background: url("../pictures/menu.svg") no-repeat center;
    font-size: 16px;
    color: white;
    height: 25px;
    width: 25px;
    position: relative;
    left: 20px;
    top: 55px;
}



.phil {
    font-family: 'Philosopher', sans-serif;
}

.main_profile {
    display: flex;
    flex-direction: row;
}

div.out-block {
    height: 900px;
    width: 900px;
    border: 3px solid;
    border-color: rgba(0, 0, 256, 0.1);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

div.text {
    overflow: auto;
    color: #0059b4;
}

div.text-in {
    position: relative;
    top: 40px;
    left: 20px;
    right: 20px;
    height: 850px;
    width: 850px;
    font-size: 30px;
}

.high {
    display: inline;
}

.semi-body {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 100px;
    top: 30px;
}

.department-body {
    text-align: center;
    border: solid 2px;
    border-color: rgba(0, 0, 256, 0.1);
    border-radius: 15px;
    width: 900px;
    height: 50px;
}

.departament-text {
    text-align: center;
    font-size: 40px;
}

#menu {
    position: fixed;
}

.shapka {
    display: flex;
    flex-direction: row;
}

.dbotton {
    background: white;
    border: none;
    width: 300px;
    height: 100px;
    position: absolute;
}

.ramka {
    display: inline-block;
    background: white;
    border: solid 2px #0059b4;
    border-radius: 10px;
    font-weight: 700;
    font-size: 2.2rem;
    text-align: center;
    font-family: 'Philosopher', sans-serif;
}

.portalst {
    position: absolute;
    margin: 100px 100px;
    font-family: 'Philosopher', sans-serif;
    font-size: 20px;
    color: #0059b4;
}



.accaunt-flex {
    position: absolute;
    left: 1600px;
    top: 30px;
}

img.pic_with_text_near1 {
    display: inline;
    width: 100px;
    height: 100px;
    border: 3px #0059b4 solid;
    border-radius: 100px;
    padding: 3px;
}


div.big-name1 {
    font-family: 'Philosopher', sans-serif;
    font-size: 40px;
    color: #0059b4;
    position: relative;
    top: 40px;
    left: 15px;
}


* {
    box-sizing: border-box;
}

form {
    position: absolute;
    width: 300px;
    left: 900px;
    top: 50px;
}

input {
    width: 100%;
    height: 42px;
    padding-left: 10px;
    border: 4px solid #0059b4;
    border-radius: 5px;
    outline: none;
    background: white;
    color: #9E9C9C;
}

button.search-top {
    position: absolute;
    top: 0;
    width: 42px;
    height: 42px;
    border: 4px solid #0059b4;
    background: white;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

button.search-top:before {
    content: url("../pictures/lupa.png");
    font-size: 16px;
    color: white;
}



.menu, .menu * {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

.menu {
    position: absolute;
    background: white;
    /*margin: 200px -800px;*/
    top: 200px;
    font-family: 'Philosopher', sans-serif;
    font-size: 30px;
    color: #0059b4;
    cursor: pointer;
}

.menu ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    /*align-items: left;*/
}

.menu ul li {
    margin: 5px 50px;
    padding: 5px;
}

.menu ul li:hover {
    background: #0059b4;
    color: white;
}

.menu.shrift {
    font-family: 'Philosopher', sans-serif;
    font-size: 30px;
    color: Blue;
}


.information {
    position: absolute;
    left: 500px;
    top: 200px;
}

.catletit {
    position: absolute;
    animation-iteration-count: infinite;
    display: block;
}

.nazad {
    position: absolute;
    left: 650px;
    animation-iteration-count: infinite;
    display: none;
}

.button-cover:before {
    counter-increment: button-counter;
    content: counter(button-counter);
    position: absolute;
    right: 0;
    bottom: 0;
    color: #d7e3e3;
    font-size: 12px;
    line-height: 1;
    padding: 5px;
}

.button-cover, .knobs, .layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.button {
    position: relative;
    top: 50%;
    width: 74px;
    height: 36px;
    margin: -20px auto 0 auto;
    overflow: hidden;
}

.button.r, .button.r .layer {
    border-radius: 100px;
}


.checkbox {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
}

.knobs {
    z-index: 2;
}

.layer {
    width: 100%;
    background-color: #ebf7fc;
    transition: 0.3s ease all;
    z-index: 1;
}

/* Button 1 */
#button-1 .knobs:before {
    content: 'NO';
    position: absolute;
    top: 4px;
    left: 4px;
    width: 20px;
    height: 10px;
    color: white;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    padding: 9px 4px;
    background-color: #0059b4;
    border-radius: 50%;
    transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
}

#button-1 .checkbox:checked + .knobs:before {
    content: 'YES';
    color: white;
    left: 42px;
    background-color: black; /*цвет круга yes*/
}

#button-1 .checkbox:checked ~ .layer {
    background-color: gray; /* цвет овала yes*/
}

#button-1 .knobs, #button-1 .knobs:before, #button-1 .layer {
    transition: 0.3s ease all;
}


.search-big
{
	display: flex;
	flex-direction:row;
}


.icon img {

    width: 500px;
    height: 300px;
    border-radius: 30px;
}

.text {
    padding-left: 20px;
    margin-bottom: 15px;
    margin-top: 15px;
    width: 440px;
}

.vvod {
    border-radius: 10px;
    margin-top: -10px;
    width: 390px;
}

.button_send {
    border: none;
    position: relative;
    cursor: pointer; /* Mouse pointer on hover */
}

/* Darker background on mouse-over */
.button_send:hover {
    background-color: RoyalBlue;
}

div.post {
    padding: 10px;
    border-radius: 30px;
    border: solid 2px black;
    width: 500px;
    height: 90px;
    padding-bottom: 30px;
}

.string {
    display: flex;

}

.text-near-face {
    margin-left: 10px;
    width: 300px;
}

.student-list {
	position: absolute;
	top: 250px;
	left: 700px;
    width: 450px;
    font-family: 'Philosopher', sans-serif;

}

.student-search {
    width: 350px;
	
}

.search {
    margin-bottom: 50px;
}

.parsing {

    display: flex;

    height: 40px;
    margin-bottom: 40px;
}

.about-students {
    margin-top: 3px;
    border-radius: 10px;
    border: 4px solid #0059b4;
    width: 350px;
    height: 40px;
    margin-bottom: 10px;
	padding-top:5px;
}

.id {
    display: flex;

}

button.all-students-page {
    top: 0;
    width: 42px;
    height: 42px;
    border: 4px solid #0059b4;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;

}

img.pic_with_text_near {
    display: inline;
    width: 100px;
    height: 100px;
    border: 3px #0059b4 solid;
    border-radius: 100px;
    padding: 3px;
}


.search-button {
     background-image:url("../pictures/lupa.png");
}




.button_settings {
    top: 10px;
    padding:0px;

}

.up-button{
	border-radius:30px;
	width:26px;
	height:26px;
	position:fixed;
	top:90vh;
	left:95vw;
	background-color:#bbbbbb;
	opacity:0.2;
}
.up-button:hover{
	opacity:0.5;
}
.up-button:active{
	opacity:0.7;
}

#left_menu a, #main_logo a, #student_portal, #corps_ul a {
    text-decoration: none;
    color: #0059b4
}

#left_menu a:hover {

    color: white;
}
