<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8" />
        <link href="https://fonts.googleapis.com/css?family=Philosopher&amp;display=swap" rel="stylesheet">
        <meta name="theme-color" content="#9CC2CE">
        <title>Отделы</title>
        <link rel="stylesheet" href="~/css/departments/departments.css" />
        <link rel="stylesheet" href="~/css/departments/left_buttons.css" />
        <link rel="stylesheet" href="~/css/departments/gallery.css" />
        <link rel="stylesheet" href="~/css/departments/modal_windows.css" />

        <link href="~/css/departments/profile_style.css" rel="stylesheet">
        <link href="~/css/departments/buttons-style.css" rel="stylesheet">
        <script src="~/js/button_like.js"></script>
        <script src="~/js/dropdowncomment.js"></script>
        <script src="~/js/button-top.js"></script>
        <script src="~/js/upButton.js"></script>
        <script src="~/js/coolgallery.js"></script>
        <script src="~/js/modal_windows.js"></script>
        <script src="~/js/readmore.js"></script>
        <script src="~/js/scrolling.js"></script>
        <script src="~/js/catlet.js"></script>
        <script src="~/js/OnLoadDepartments.js"></script>


    </head>

    <body>
        <div class="container body-content">
            @RenderBody()

        </div>
    </body>
</html>