<html lang="ru">
<head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Philosopher&amp;display=swap" rel="stylesheet">
    <link href="~/css/shapka.css" rel="stylesheet" />
    <link href="~/css/profile_style.css" rel="stylesheet" />
    <script src="~/js/catlet.js"></script>
    <script src="~/js/button-top.js"></script>
    <script src="~/js/upButton.js"></script>
    <script src="~/js/scrolling.js"></script>
    <script src="~/js/takeInformatiomAboutMe.js"></script>
    <script src="~/js/OnloadProfilePage.js"></script>
    <title>Профиль</title>
</head>
    <body>
        <div class="container body-content">
            @RenderBody()

        </div>

    </body>
</html>