<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css?family=Philosopher&display=swap" rel="stylesheet">
    <link href="~/css/students_page.css" rel="stylesheet" />
    <link href="~/css/shapka.css" rel="stylesheet" />
    <script src="~/js/studlistfotojson.js"></script>
    <script src="~/js/button-top.js"></script>
    <script src="~/js/studlistnamejson.js"></script>
    <script src="~/js/modal_windows.js"></script>
    <script src="~/js/catlet.js"></script>
    <script src="~/js/upButton.js"></script>
    <script src="~/js/scrolling.js"></script>
    <script src="~/js/takeInformatiomAboutMe.js"></script>
    <script src="~/js/OnloadStudentsPage.js"></script>
    <title>Стажеры</title>

</head>
    <body>
        <div class="container body-content">
            @RenderBody()

        </div>
    </body>
</html>