.add_post {
    font-size: 35px;
    border-radius: 8px;
    border-color: #0059b4;
    background: transparent;
    height: 50px;
    width: 680px;
    color: #0059b4;
}

.add_post.close{
    display:none;
}


.post {
 
    font-size: 35px;
    border: 2px solid;
    border-radius: 10px;
    border-color: #0059b4;
    background-color: transparent;
    height: 500px;
    width: 680px;
    color: #0059b4;
    
}

table.table_name_date {
    display: inline;
}

div.name_date {
    font-family: 'Philosopher', sans-serif;
    font-size: 30px;
    color: #0059b4;
}



.student-list {
    margin-top: 150px;
    margin-left: 760px;
    width: 450px;
    font-family: 'Philosopher', sans-serif;
}


.id {
    display: flex;
    flex-direction: column;
}




.novost-position {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 300px;
    left: 700px;
}


.lenta {
    display: flex;
    flex-direction: column;
}



.tools{
    display: flex;
    flex-direction: row;
   
}




.tools button {
    width: 40px;
    height: 30px;
}

.string_comment {
    margin: 0px -120px;
    display: flex;
    border: 2px solid;
    flex-wrap: nowrap;
    flex-direction: row;
    margin-bottom: 20px;
    width: 620px;
    height: 140px;
    padding: 10px;
    color: #0059b4;
    border-radius: 10px;
   
    background: white;
}


.commentarium ul {
    display: none;
}


.commentarium.open ul {
    display: block;
}


.commentarium.button_comment {
    font-size: 18px;
    cursor: pointer;
}


.button_like{
}


.button_like.open{
background-color: pink;
}


.button_comment:hover {
    background: #0059b4;
}

.button_share {
    cursor: pointer; /* Mouse pointer on hover */
}

/* Darker background on mouse-over */
.button_share:hover {
    background-color: #0059b4;
}

.otstup {
    position: relative;
    top: 20px;
    left: 10px;
    border: 1px solid;
    border-radius: 5px;
    border-color: rgba(0, 0, 256, 0.3);
    padding: 10px;
    height: auto;
    width: 640px;
}





.hat {
    margin-left: 15px;
}



img.pic_with_text_near {
    display: inline;
    width: 100px;
    height: 100px;
    border: 3px #0059b4 solid;
    border-radius: 100px;
    padding: 3px;
}


div.big-name {
    font-family: 'Philosopher', sans-serif;
    font-size: 40px;
    color: #0059b4;
    position: relative;
    top: 40px;
    left: 15px;
}


.main_profile {
    display: flex;
    flex-direction: row;
}

.more {
    display: none
}

.myBtn {
    cursor: pointer;
    opacity: 0.2;
    background: white;
    border-radius: 10px;
}

.myBtn:hover {
    opacity: 0.5;
    background: pink;
    border-radius: 10px;

}

.position-in-vvod {
    position: relative;
    top: 50px;
    left: 20px;
    width: 400px;
    height: 30px;
}

.position-in-button {
    position: relative;
    left: 30px;
    top: 55px;
}

.modal1 {
    display: none; 
    position: fixed; 
    z-index:1;
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: transparent;

 
}


.modal1-content {
    position: relative;
    background-color: white;
    margin: 126px 780px;
    border-radius: 8px;
    border: 5px solid #0059b4;
    width: 31%;
    padding: 30px;
}

.button_add_post {
    font-size: 30px;
    border-radius: 8px;
    border-color: #0059b4;
    background: transparent;
    height: 50px;
    width: auto;
    color: #0059b4;
}

.write_post {
    border-radius: 8px;
    border-color: #0059b4;
    height: 400px;
    width: auto;
}

@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}


.close {
    color: #0059b4;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }


.modal1-body {
    display:flex;
    flex-direction:column;
    flex-wrap: wrap;
    padding: 2px 16px;
}

.post_photo {
    border: 2px solid #0059b4;
    border-radius: 30px;
    width:50px;
    height:50px;
}









